.MUIInput {
  width: 48%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.MUIInput:hover {
  transition: 0.4s;
  transform: scale(1.01);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
